<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Administration</title> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
</head> 
<body> 
<div class="container mt-5"> 
<a class="m-5" style="text-decoration:none;color:white" href={{ url_for("admin_users") }}>
<button></button>
<class= "btn-secondary" >Users</button></a> 
<a class="m-5" style="text-decoration:none;color:white" href={{ url_for("admin_bots") }}>
<button></button>
class=<btn "btn btn-secondary">Bots
</button>
</a> 
</div> 
</body> 
</html>